
.a-button {

	font: $button-text;
	color: $white;
	text-shadow: 0 0 1px $white;
	z-index: 100;
	position: relative;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width: auto;
	height: $button-height-lg;
	padding: 0 $button-padding;
	border-radius: $button-height-lg / 2;
	border: 1px solid $none;
	background: $none;

	&::before {

		@include full-size;

		content: '';
		z-index: -100;
		left: 50%;
		top: 50%;
		width: calc(100% - 10px);
		height: calc(100% - 10px);
		transform: translate(-50%, -50%);
		border-radius: $button-height-lg / 2;
		background-color: $none;
	}

	&.-pink {

		font-size: 12px;
		text-transform: uppercase;

		&::before {

			background-color: $brand-pink;
		}
	}

	&.-circle {

		color: $brand-blue-2;
		font-weight: 700;
		text-shadow: 0 0 1px $brand-blue-2;
		width: $button-height-sm;
		height: $button-height-sm;
		border-color: $brand-blue-2;
		padding: 0;
		margin-left: $spacing / 2;

		&::before {

			background-color: rgba($brand-blue-2, .32);
		}
	}	

	&.-hero {

		border-color: $brand-pink;

		&::before {

			background-color: $black;
		}
	}

	&.-withArrow {

		padding-right: $button-padding + 30;

		&::after {

			content: '→';
			font: $button-text;
			position: absolute;
			right: $button-padding;
			top: 50%;
			transform: translate(0, -50%);
		}
	}
}
