
.a-image {

	@include hidden-text;

	display: block;
	transition: background $easing-1 $speed-2;

	&.-logo {

		@include background("logo.svg", contain);

		width: 133px;
		height: 25px;
		margin-left: $spacing;

		.-withContrast & {

			@include background("logo_inverse.svg", contain);
		}
	}
}
