
.a-input {

	@include placeholder-color($brand-purple);

	font: $menu-text;
	color: $white;
	width: 500px;
	height: $input-height;
	padding: 0 ($spacing / 2);
	border: 0;
	border-bottom: 1px solid $brand-purple;
	background: $none;
	transition: border-color $easing-1 $speed-2;

	&[data-validation="true"] {

		border-color: lime;
	}

	&[data-validation="false"] {

		border-color: red;
	}
}
