
.a-text {

	z-index: 100;
	position: relative;
	display: block;
	margin-bottom: $spacing;
	transition: color $easing-1 $speed-2;

	&.-h1 {

		font: $h1-lg;
		color: $white;
		text-transform: uppercase;
		-webkit-text-fill-color: $none;
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: $white;

		@include media($bp-text-md) { font: $h1-md; }

		@include media($bp-text-sm) { font: $h1-sm; }
	}

	&.-h2 {

		font: $h2-lg;
		color: $brand-blue-2;
		text-transform: uppercase;

		em {
		
			-webkit-text-fill-color: $none;
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: $brand-blue-2;
		}

		@include media($bp-text-md) { font: $h2-md; }

		@include media($bp-text-sm) { font: $h2-sm; }
	}

	&.-h3 {

		font: $h3-lg;
		color: $brand-blue-1;
		letter-spacing: -.65px;
		margin-bottom: $spacing / 2;

		@include media($bp-text-md) { font: $h3-md; }

		@include media($bp-text-sm) { font: $h3-sm; }
	}

	&.-h4 {

		font: $h4-lg;
		color: $brand-blue-2;
		text-transform: uppercase;

		@include media($bp-text-md) { font: $h4-md; }

		@include media($bp-text-sm) { font: $h4-sm; }
	}

	&.-h5 {

		font: $h5-lg;
		color: $brand-blue-2;
		text-transform: uppercase;

		@include media($bp-text-md) { font: $h5-md; }

		@include media($bp-text-sm) { font: $h5-sm; }
	}

	&.-h6 {

		font: $h6-lg;
		color: $brand-blue-2;
		text-transform: uppercase;

		@include media($bp-text-md) { font: $h6-md; }

		@include media($bp-text-sm) { font: $h6-sm; }
	}

	&.-p {

		font: $p-lg;
		color: $brand-blue-3;

		@include media($bp-text-md) { font: $p-md; }

		@include media($bp-text-sm) { font: $p-sm; }
	}

	&.-small {

		font: $menu-text;
		color: $white;
		margin-bottom: 0;

		.-withContrast & {

			color: $brand-blue-1;
		}

		strong {

			text-shadow: 0 0 1px $white;
		}
	}

	&.-tiny {

		font: $tiny-text;
		color: $brand-purple;
		margin-bottom: 0;

		a {

			color: $brand-pink;
			font-weight: 700;
			text-decoration: underline;
			display: inline-block;
			margin-left: 10px;
		}
	}

	&.-link {

		font: $link-text;
		color: $brand-blue-2;
		letter-spacing: .9px;
		text-transform: uppercase;
		position: relative;
		display: inline-flex;
		align-items: center;
		height: $button-height-sm;
		margin-bottom: 0;
	}

	&.-category {

		font: $category-text;
		color: $white;
		letter-spacing: 4px;
		text-transform: uppercase;
		margin-bottom: $spacing / 2;
	}

	&.-noMargin { margin-bottom: 0 !important; }

	&.-alignLeft { text-align: left !important; }

	&.-alignRight { text-align: right !important; }

	&.-faded { opacity: .5 !important; }

	&.-white { color: $white !important; }
	
	&.-black { color: $black !important; }
	
	&.-primary { color: $brand-pink !important; }
	
	&.-secondary { color: $brand-blue-1 !important; }

	&.-normal { font-weight: 400 !important; }

	&.-noCase { text-transform: none !important; }

	&.-uppercase { text-transform: uppercase !important; }

	&.-underline { text-decoration: underline !important; }
	
	&.-emphasis { font-style: italic !important; }

	&.-strong, strong { font-weight: 700 !important; }
}
