
.o-carousel {

	// overflow: hidden;

	&__list {

		display: grid;
		grid-gap: 10px;

		@for $i from 1 through 20 {

			[data-cards="#{ $i }"] & {

				grid-template-columns: repeat(#{ $i }, 350px);
			}
		}
	}
}
