
.o-panel {

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	counter-increment: counter;
	margin-bottom: $spacing * 2;

	&:last-of-type {

		margin-bottom: 0;
	}

	&:nth-of-type(even) {

		flex-direction: row-reverse;
	}

	&__content {

		position: relative;
		width: 50%;
		padding: 0 ($spacing * 4);

		&::before {

			content: '0' counter(counter);
			font: $counter-text;
			color: rgba($brand-blue-2, .1);
			letter-spacing: -1.5px;
			position: absolute;
			left: $spacing * 4;
			top: -30px;
		}
	}

	&__image {

		width: 50%;
	}
}
