
.m-ctaBanner {

	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	z-index: 400;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: $cta-banner-height;
	background-color: $brand-blue-0;
}
