
.m-card {

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-start;
	width: 100%;
	height: 500px;

	&__category {

		// ...
	}

	&__image {

		position: relative;
		width: 100%;
		height: 440px;
		border-radius: $border-radius;
		box-shadow: $card-shadow;
		overflow: hidden;
		transition: height $easing-2 $speed-2;

		&:hover {

			height: 480px;
		}
	}

	&__background {

		@include full-size;

		top: 50%;
		width: 100%;
		height: calc(100% + #{ $spacing * 2 });
		transform: translateY(-50%);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
}
