
.t-alternatingPanels {

	padding: ($spacing * 4) 0;

	&__wrapper {

		@include wrapper;
	}

	&__content {

		// ...
	}

	&__header {

		display: grid;
		grid-template-columns: repeat(2, 1fr);
		margin-bottom: $spacing * 3;

		> * {

			padding: 0 ($spacing * 4);
		}
	}

	&__list {

		// ...
	}
}
