
.t-hero {

	z-index: 100;
	position: relative;
	height: 100vh;
	background-color: $black;
	overflow: hidden;

	&__wrapper {

		@include wrapper(100%);

		position: relative;
	}

	&__cta {

		 display: flex;
		 flex-direction: column;
		 justify-content: center;
		 align-items: center;
		 position: absolute;
		 left: 50%;
		 top: 50%;
		 text-align: center;
		 transform: translate(-50%, -50%);

		 .a-text.-h1 {

		 	width: 700px;
		 }

		 .a-text.-p {

		 	max-width: 350px;
		 }
	}

	&__footer {

		position: absolute;
		left: 0;
		bottom: $spacing;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		width: 100%;
		height: 80px;

		.a-text {

			font-size: 14px;
			letter-spacing: 1.3px;
		}
	}

	&__background {

		@include full-size;
		@include background("hero.jpg");

		z-index: -100;
		left: 0;
		top: 0;
		transform: translate3d(0, 0, 0);
	}
}
