
.t-navigation {

	z-index: 300;
	position: fixed;
	left: 0;
	top: $cta-banner-height;
	width: 100%;
	height: $nav-height;

	&::before {

		@include full-size;

		content: '';
		transform: translate3d(0, -100%, 0);
		transition: transform $easing-1 $speed-2;
		background-color: $white;
		box-shadow: 0 0 #{ $spacing } 0 rgba($black, .1)
	}

	&.-withContrast::before {

		transform: translate3d(0, 0, 0);
	}

	&__wrapper {

		@include wrapper(100%);

		padding: 0 ($spacing / 2);
	}

	&__content {

		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}
}
