
.t-ourClients {

	padding: 20vw 0 ($spacing * 4) 0;
	background-image: linear-gradient(-#{ $brand-gradient-angle }, #{ $brand-gradient-from }, #{ $brand-gradient-to });
	overflow: hidden;
	
	&__wrapper {

		@include wrapper;
	}

	&__header {

		height: 150px;
		background-color: rgba($white, .1);
		margin-bottom: $spacing * 3;
	}

	&::before {

		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 150vw;
		height: 50vh;
		transform: translateY(-100%) rotate(#{ $brand-gradient-angle });
		transform-origin: bottom left;
		background-color: $white;
		pointer-events: none;
	}
}
