
* {

	position: relative;
	box-sizing: border-box;

	&:focus { outline: none; }
}

body {

	text-align: left;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	height: 10000px;
}
