
// Typography:

$font-1: "Montserrat", "Helvetica Neue", "Arial", sans-serif;
$font-2: "Open Sans", "Helvetica Neue", "Arial", sans-serif;

$h1-lg: 700 70px / 60px $font-1;
$h2-lg: 700 50px / 50px $font-1;
$h3-lg: 700 26px / 36px $font-2;
$h4-lg: 500 20px / 25px $font-1;
$h5-lg: 500 16px / 26px $font-1;
$h6-lg: 700 12px / 12px $font-1;
$p-lg:  400 16px / 30px $font-1;

$h1-md: 700 70px / 60px $font-1;
$h2-md: 700 50px / 50px $font-1;
$h3-md: 700 26px / 36px $font-2;
$h4-md: 500 20px / 25px $font-1;
$h5-md: 500 16px / 26px $font-1;
$h6-md: 700 12px / 12px $font-1;
$p-md:  400 16px / 30px $font-1;

$h1-sm: 700 70px / 60px $font-1;
$h2-sm: 700 50px / 50px $font-1;
$h3-sm: 700 26px / 36px $font-2;
$h4-sm: 500 20px / 25px $font-1;
$h5-sm: 500 16px / 26px $font-1;
$h6-sm: 700 12px / 12px $font-1;
$p-sm:  400 16px / 30px $font-1;

$menu-text: 400 14px / 28px $font-2;
$tiny-text: 400 12px / 12px $font-2;
$link-text: 700 14px / 14px $font-2;
$counter-text: 700 60px / 60px $font-1;
$category-text: 400 14px / 18px $font-2;

// Colours:

$none: transparent;
$black: #000000;
$brand-pink: #F93B84;
$brand-blue-0: #000095;
$brand-blue-1: #2A4789;
$brand-blue-2: #3B8EF9;
$brand-blue-3: #5A6488;
$brand-purple: #9797FF;
$brand-gradient-from: #3B8EF9;
$brand-gradient-to: #7F3FD1;
$brand-gradient-angle: 11deg;
$white: #ffffff;

// Easings:

$easing-1: cubic-bezier(0.81, 0.24, 0.18, 0.74);
$easing-2: ease-in-out;

// Speeds:

$speed-1: 150ms;
$speed-2: 300ms;
$speed-3: 600ms;
$speed-4: 900ms;
$speed-5: 1200ms;

// Structure:

$spacing: 30px;
$border-radius: 4px;
$wrapper-width: 1200px;

// Breakpoints:

$bp-text-md: 1000px;
$bp-text-sm: 500px;

// Navigation:

$nav-height: 80px;

// CTA Banner:

$cta-banner-height: 60px;

// Buttons:

$button-text: 700 14px / 14px $font-2;
$button-padding: 40px;
$button-height-lg: 70px;
$button-height-sm: 56px;

// Cards:

$card-shadow: 0 8px 16px 2px rgba(#2000BB, .5);

// Forms:

$input-height: 60px;
