
@mixin wrapper($size: $wrapper-width) {

	width: calc(#{ $size } + #{ $spacing * 2});
	max-width: 100%;
	height: 100%;
	padding: 0 $spacing;
	margin: 0 auto;

	&.-small { padding: 0 ($spacing * 3); }

	&.-smallLeft { padding-left: $spacing * 3; }
	
	&.-smallRight { padding-right: $spacing * 3; }
}

@mixin set-grid-areas($boxes) {

	@for $box-id from 1 through $boxes {

		> li[data-box="#{ $box-id }"] { grid-area: b + $box-id; }
	}
}

@mixin background($path, $size: cover) {

	background: url('../img/#{$path}') center no-repeat;
	background-size: $size;
}

@mixin icon($name, $width, $height) {

	@include background("icons/" + $name);

	width: $width;
	height: $height;
}

@mixin full-size($position: absolute) {

	position: $position;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

@mixin media($size) {

	@media all and (max-width: #{ $size }) {

		@content;
	}
}

@mixin media-min($size) {

	@media all and (min-width: #{ $size }) {

		@content;
	}
}

@mixin gradient($direction, $list) { 

	background: -webkit-linear-gradient($direction, $list);
	background: -moz-linear-gradient($direction, $list);
	background: -o-linear-gradient($direction, $list);
	background: linear-gradient($direction, $list);
}

@mixin circle($size) {

	width: $size;
	height: $size;
	border-radius: 50%;
}
