
@mixin hidden-text {

	font-size: 0 !important;
	color: transparent !important;

	* {

		font-size: 0 !important;
		color: transparent !important;
	}
}

@mixin optimise-text {

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

@mixin masked-text($image_path) {

	background: url('../img/#{ $image_path }') center no-repeat;
	background-size: cover;
	-webkit-text-fill-color: $none;
	-webkit-background-clip: text;
	background-clip: text;
	// filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.75)) brightness(130%);
}

@mixin placeholder-color($color) {

	&::-webkit-input-placeholder { color: $color; }

	&::-moz-placeholder { color: $color; }

	&:-ms-input-placeholder { color: $color; }

	&:-moz-placeholder { color: $color; }
}
